<section id='section5'>
  <div class='container'>
    <table class="table4">
      <tr>
        <td class="td1">
          <img class="contact-foto" src="<%= img_path %>/echo_mailler/face1.jpg"/>
        </td>
        <td class="td2">
          <h2>ROYCE EYER</h2>

          <table class="contact">
            <tr>
              <td class="c1"><img class="icon-img" src="<%= img_path %>/echo_mailler/list-icon1.png"/></td>
              <td class="c2">55 Pierce Lane Ste 204 Montoursville, PA 17754</td>
            </tr>
            <tr>
              <td class="c1"><img class="icon-img" src="<%= img_path %>/echo_mailler/list-icon2.png"/></td>
              <td class="c2">O: 570-368-7633 <br> M: 570-220-3470</td>
            </tr>
            <tr>
              <td class="c1"><img class="icon-img" src="<%= img_path %>/echo_mailler/list-icon3.png"/></td>
              <td class="c2">501-676-5274</td>
            </tr>
          </table>

        </td>
        <td class="td3">
          <img class="mach1-img" src="<%= img_path %>/echo_mailler/mach1-img.png"/>
        </td>
      </tr>
    </table>
  </div>
</section>
