<% title 'Youtube Channels' %>
<% breadcrumb :youtube_channels %>
<% if flash[:notice] %>
	<div id="notice_explanation" class="alert alert-success alert-dismissable alert-fade-out">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4><i class="icon fa fa-exclamation-circle"></i> <%= flash[:notice] %></h4>
	</div>
<% end %>
<div id="youtube_channels_list">
  <div class="row">
    <div class="col-md-5">
      <%= link_to 'New Youtube Channel', new_youtube_channel_path, class: 'btn btn-sm btn-primary' %>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label class="control-label"><i class="fa fa-database"></i> Total search results:</label>
        <span class="badge bg-blue">
          <% unless params[:unlinked]%>
            <%= @youtube_channels.total_count%>
          <% else %>
            <%=@youtube_channels.size%>
          <% end %>
        </span>
      </div>
    </div>
  </div>
  <% unless @youtube_channels.to_a.empty? %>
    <table id="youtube_channels_table" class="table table-bordered table-striped dataTable">
      <thead>
        <tr>
          <th class="sort" style="min-width: 25px;" id="id-th" data-field="id">ID</th>
          <th style="width: 65px;">Icon</th>
          <th style="width: 65px;">Art</th>
          <th style="width: 65px;">Screenshot</th>
          <th class="sort" id="youtube_channel_name-th" data-field="youtube_channel_name">Channel Name</th>
          <th class="sort" id="email-th" data-field="email">Google Account</th>
          <th class="sort" id="locality-th" data-field="locality">Locality</th>
          <th class="sort" id="region-th" data-field="region">Region</th>
          <th class="text-center sort" style="width: 65px;" id="country-th" data-field="country">Country</th>
          <th style="min-width: 55px;" class="text-center sort" id="client-th" data-field="client">Client</th>
          <th style="width: 50px;" class="text-center sort" id="channel_type-th" data-field="channel_type">Type</th>
          <th style="width: 55px;" class="text-center sort" id="is_active-th" data-field="is_active">Active</th>
          <th style="width: 65px;" class="text-center sort" id="is_verified_by_phone-th" data-field="is_verified_by_phone" title="Phone verified">Verified</th>
          <th style="width: 60px;" class="text-center sort" id="linked-th" data-field="linked">Linked</th>
          <th style="width: 60px;" class="text-center sort" id="filled-th" data-field="filled">Filled</th>
          <th style="width: 60px;" class="text-center sort" id="ready-th" data-field="ready">Ready</th>
          <th style="width: 55px;" class="text-center sort" id="blocked-th" data-field="blocked">Blocked</th>
          <th style="width: 50px;" class="text-center sort" id="strike-th" data-field="strike">Strike</th>
          <th style="width: 70px;" class="text-center">Associated</th>
          <th style="min-width: 50px; max-width: 110px;" class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @youtube_channels.each do |youtube_channel| %>
          <tr id="tr_yc_<%=youtube_channel.id%>">
            <td class="text-center"><%= link_to youtube_channel.id, edit_youtube_channel_path(youtube_channel), target: "_blank" %></td>
            <td class="text-center">
              <% if youtube_channel.channel_icon.present? %>
                <%= link_to (image_tag URI::escape(youtube_channel.channel_icon.url(:thumb), '[]'), {class: 'img-thumbnail livepreview', data: {src: youtube_channel.channel_icon.url(:original)} }), URI::escape(youtube_channel.channel_icon.url(:original), '[]'), {target: '_blank'} %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.channel_art.present? %>
                <%= link_to (image_tag URI::escape(youtube_channel.channel_art.url(:thumb), '[]'), {class: 'img-thumbnail livepreview', data: {src: youtube_channel.channel_art.url(:original)}}), URI::escape(youtube_channel.channel_art.url(:original), '[]'), {target: '_blank'} %>
              <% end %>
              <div>
                <% if youtube_channel.channel_type.business? %>
                  <%= link_to '<i class="fa fa-bolt"></i> Regenerate'.html_safe, regenerate_channel_art_youtube_channel_path(youtube_channel), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-info' %>
                <% end %>
              </div>
            </td>
            <td class="text-center">
              <% if youtube_channel.screenshots.last.present? && youtube_channel.screenshots.last.image.present?%>
                <div class="screenshot-div">
                  <%= link_to (image_tag URI::escape(youtube_channel.screenshots.last.image.url(:thumb), '[]'), {class: 'img-thumbnail livepreview', title: youtube_channel.screenshots.last.created_at.try(:in_time_zone, 'Eastern Time (US & Canada)').try(:strftime, '%m/%d/%y %I:%M %p - Eastern Time (US & Canada)'), data: {src: youtube_channel.screenshots.last.image.url(:original)}}), URI::escape(youtube_channel.screenshots.last.image.url(:original), '[]'), {target: '_blank'} %>
                  <%= link_to edit_youtube_channel_path(youtube_channel) + "#screenshots-tab", {target: '_blank'} do %>
                    <span class="badge bg-orange"><%= youtube_channel.screenshots.size%></span>
                  <% end %>
                </div>
              <% end %>
            </td>
            <td>
              <% unless youtube_channel.youtube_channel_id.blank? || youtube_channel.youtube_channel_name.blank?%>
                <%=link_to youtube_channel.youtube_channel_name, youtube_channel.url, target: '_blank', data: { confirm: "Are you sure?" } %>
              <% else %>
                <%=youtube_channel.youtube_channel_name %>
              <% end %>
            </td>
            <td>
              <% if youtube_channel.google_account && youtube_channel.google_account.email_account%>
              <%=link_to youtube_channel.google_account.email_account.email, edit_email_account_path(youtube_channel.google_account.email_account), target: '_blank' %>
              <% end %>
            </td>
            <% if youtube_channel.google_account && youtube_channel.google_account.email_account%>
              <% ea = youtube_channel.google_account.email_account%>
              <% if ea.locality %>
                <td><%= link_to ea.locality.name, { controller: "youtube_channels", locality_id: ea.locality.id, limit: params[:limit]}, class: 'sort_link' %></td>
                <td class="overflow" style="max-width: 100px;">
                  <%= link_to ea.locality.primary_region.name, { controller: "youtube_channels", region_id: ea.locality.primary_region.id, country_id: ea.locality.country.id, limit: params[:limit]}, class: 'sort_link' %>
                </td>
                <td class="text-center">
                  <%= link_to ea.locality.country.code, { controller: "youtube_channels", country_id: ea.locality.country.id, limit: params[:limit]}, class: 'sort_link' %>
                </td>
              <% elsif ea.region %>
                <td></td>
                <td class="overflow" style="max-width: 100px;">
                  <%= link_to ea.region.name, { controller: "youtube_channels", region_id: ea.region.id, country_id: ea.region.country.id, limit: params[:limit]}, class: 'sort_link' %>
                </td>
                <td class="text-center">
                  <%= link_to ea.region.country.code, { controller: "youtube_channels", country_id: ea.region.country.id, limit: params[:limit]}, class: 'sort_link' %>
                </td>
              <% else %>
                <td><%= ea.locality_name %></td>
                <td><%= ea.region_name %></td>
                <td class="text-center"><%= ea.country_name %></td>
              <% end %>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
            <td class="text-center">
              <% if youtube_channel.google_account && youtube_channel.google_account.email_account && youtube_channel.google_account.email_account.client%>
                <%= link_to youtube_channel.google_account.email_account.client.name, { controller: "youtube_channels", client_id: youtube_channel.google_account.email_account.client.id, limit: params[:limit]}, class: 'sort_link' %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.channel_type == YoutubeChannel.channel_type.find_value(:business) %>
                <%= link_to "B", { controller: "youtube_channels", channel_type: 1, limit: params[:limit]}, {class: "btn btn-info btn-xs sort_link", title: "Business"} %>
              <% else %>
                <%= link_to "P", { controller: "youtube_channels", channel_type: 2, limit: params[:limit]}, {class: "btn btn-warning btn-xs sort_link", title: "Personal"} %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.is_active %>
                <%= link_to 'YES', { controller: "youtube_channels", is_active: true, limit: params[:limit]}, class: 'btn btn-success btn-xs sort_link' %>
              <% else %>
                <%= link_to 'NO', { controller: "youtube_channels", is_active: false, limit: params[:limit]}, class: 'btn btn-danger btn-xs sort_link' %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.is_verified_by_phone %>
                <%= link_to 'YES', { controller: "youtube_channels", is_verified_by_phone: true, limit: params[:limit]}, class: 'btn btn-success btn-xs sort_link' %>
              <% else %>
                <%= link_to 'NO', { controller: "youtube_channels", is_verified_by_phone: false, limit: params[:limit]}, class: 'btn btn-danger btn-xs sort_link' %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.linked %>
                <%= link_to 'YES', { controller: "youtube_channels", linked: true, limit: params[:limit]}, class: 'btn btn-success btn-xs sort_link' %>
              <% else %>
                <%= link_to 'NO', { controller: "youtube_channels", linked: false, limit: params[:limit]}, class: 'btn btn-danger btn-xs sort_link' %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.filled %>
                <%= link_to 'YES', { controller: "youtube_channels", filled: true, limit: params[:limit]}, class: 'btn btn-success btn-xs sort_link' %>
              <% else %>
                <%= link_to 'NO', { controller: "youtube_channels", filled: false, limit: params[:limit]}, class: 'btn btn-danger btn-xs sort_link' %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.ready %>
                <%= link_to 'YES', { controller: "youtube_channels", ready: true, limit: params[:limit]}, class: 'btn btn-success btn-xs sort_link' %>
              <% else %>
                <%= link_to 'NO', { controller: "youtube_channels", ready: false, limit: params[:limit]}, class: 'btn btn-danger btn-xs sort_link' %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.blocked %>
                <%= link_to 'YES', { controller: "youtube_channels", blocked: true, limit: params[:limit]}, class: 'btn btn-danger btn-xs sort_link' %>
              <% else %>
                <%= link_to 'NO', { controller: "youtube_channels", blocked: false, limit: params[:limit]}, class: 'btn btn-success btn-xs sort_link' %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.strike == 0 %>
                <%= link_to youtube_channel.strike, { controller: "youtube_channels", strike: youtube_channel.strike, limit: params[:limit]}, class: 'badge bg-green sort_link' %>
              <% else %>
                <%= link_to youtube_channel.strike, { controller: "youtube_channels", strike: youtube_channel.strike, limit: params[:limit]}, class: 'badge bg-red sort_link' %>
              <% end %>
            </td>
            <td class="text-center">
              <% if youtube_channel.associated? %>
                <%= link_to youtube_channel.associated_websites.size, { controller: "youtube_channels", associated: true, limit: params[:limit]}, class: 'badge bg-green sort_link' %>
              <% else %>
                <%= link_to youtube_channel.associated_websites.size, { controller: "youtube_channels", associated: false, limit: params[:limit]}, class: 'badge bg-red sort_link' %>
              <% end %>
            </td>
            <td class="text-center actions">
              <div class="btn-group btn-group-custom">
                <% if !youtube_channel.linked && params[:unlinked].present?%>
                  <%= link_to 'Link', 'javascript://', id: "link_yc_#{youtube_channel.id}", class: "btn btn-xs btn-info link", :data => {:id => youtube_channel.id} %>
                <% end %>
                <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_youtube_channel_path(youtube_channel),  { class: 'btn btn-xs btn-primary', target: '_blank'} %>
                <%= link_to '<i class="fa fa-eraser"></i> Delete'.html_safe, youtube_channel, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
              </div<
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if @youtube_channels.to_a.empty? %>
    <div class="row col-md-12">
      <br>
      <div class="alert alert-info">
        No items available
      </div>
    </div>
  <% else %>
    <% unless params[:unlinked].present?%>
      <div><%= paginate @youtube_channels, theme: 'bootstrap' %></div>
    <% end %>
  <% end %>
</div>
<div id="filter" class="no-print"><i class="fa fa-gear"></i></div>
<div id="filter_settings" class="no-print">
  <h4 style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Filters</h4>
  <%
    order = [:id, :youtube_channel_name, :email, :tier, :locality, :region, :country, :channel_type, :is_active, :is_verified_by_phone, :linked, :filled, :ready, :blocked, :strike, :client, :publication_date, :filling_date, :updated_at]
    order_type = [["Ascending", "asc"], ["Descending", "desc"]]
    country_id = params[:country_id]
    order_value = params[:order]
    #default_country_id ||= Country.where(code: 'US').first.try(:id)
    #country_id = default_country_id unless country_id
    order_value = :publication_date unless order_value
  %>
  <div id="search_params">
    <%= hidden_field_tag :regions_url, regions_path %>
    <%= form_tag({ controller: :youtube_channels, action: :index}, {method: :get, id: 'filters_form'}) do |f| %>
      <%= hidden_field_tag :display_all, params[:display_all], class: 'form-control' %>
      <div class="filter-label">ID:</div>
      <%= search_field_tag :id, params[:id], class: 'form-control numeric' %>
      <div class="filter-label">Channel Name:</div>
      <%= search_field_tag :youtube_channel_name, params[:youtube_channel_name], class: 'form-control' %>
      <div class="filter-label">Channel URL or Channel ID:</div>
      <%= search_field_tag :youtube_channel_id, params[:youtube_channel_id], class: 'form-control' %>
      <div class="filter-label">Google Account:</div>
      <%= search_field_tag :email, params[:email], class: 'form-control' %>
      <div class="filter-label">Channel Type:</div>
      <%= select_tag(:channel_type, options_for_select(YoutubeChannel::CHANNEL_TYPES.collect{ |key, value| [key.to_s.humanize, value] }, params[:channel_type]), { include_blank: '', class: 'dropdown-toggle select-box form-control' }) %>
      <div class="filter-label">Tier:</div>
      <%= select_tag('tier', options_for_select((1..8).to_a, params[:tier]), { include_blank: '', class: 'dropdown-toggle select-box form-control' }) %>
      <div class="filter-label">Country:</div>
      <%= select_tag(:country_id, options_from_collection_for_select(Geobase::Country.order(:name), :id, :name, country_id), { include_blank: true, class: 'form-control' }) %>
      <div class="filter-label">Region:</div>
      <%= select_tag(:region_id, options_from_collection_for_select(Geobase::Region.where(country_id: country_id, level: 1).order(:name), :id, :name, params[:region_id]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Active:</div>
      <%= select_tag(:is_active, options_for_select([['YES', true], ['NO', false]], params[:is_active]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Email Account Active:</div>
      <%= select_tag(:gmail_is_active, options_for_select([['YES', true], ['NO', false]], params[:gmail_is_active]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Created by phone:</div>
      <%= select_tag(:created_by_phone, options_for_select([['YES', true]], params[:created_by_phone]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Phone Verified:</div>
      <%= select_tag(:is_verified_by_phone, options_for_select([['YES', true], ['NO', false]], params[:is_verified_by_phone]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Linked:</div>
      <%= select_tag(:linked, options_for_select([['YES', true], ['NO', false]], params[:linked]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Filled:</div>
      <%= select_tag(:filled, options_for_select([['YES', true], ['NO', false]], params[:filled]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Ready:</div>
      <%= select_tag(:ready, options_for_select([['YES', true], ['NO', false]], params[:ready]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Blocked:</div>
      <%= select_tag(:blocked, options_for_select([['YES', true], ['NO', false]], params[:blocked]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Associated:</div>
      <%= select_tag(:associated, options_for_select([['YES', true], ['NO', false]], params[:associated]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Strike:</div>
      <%= select_tag(:strike, options_for_select([0,1,2,3], params[:strike]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Has duplicate videos:</div>
      <%= select_tag(:has_duplicate_videos, options_for_select([['YES', true], ['NO', false]], params[:has_duplicate_videos]), { include_blank: true, class: 'form-control' } ) %>
      <div class="filter-label">Client:</div>
      <%= select_tag(:client_id, options_from_collection_for_select(Client.all.order(:name), :id, :name, params[:client_id]), { include_blank: true, class: 'form-control' }) %>
      <div class="filter-label">Bot server:</div>
      <%= select_tag(:bot_server_id, options_from_collection_for_select(BotServer.where(human_emulation: true).order(:id), :id, :name, params[:bot_server_id]), { include_blank: true, class: 'form-control' }) %>
      <div class="filter-label">Order by:</div>
      <%= select_tag('filter[order]', options_for_select(order.collect { |key| [key.to_s.humanize, key] }, params[:filter][:order]), { include_blank: false, class: 'dropdown-toggle select-box form-control' }) %>
      <div class="filter-label">Order type:</div>
      <%= select_tag('filter[order_type]', options_for_select(order_type, params[:filter][:order_type]), { include_blank: false, class: 'dropdown-toggle select-box form-control' }) %>
      <div class="filter-label">Items on page:</div>
      <%= select_tag('limit', options_for_select([5, 10 , 15, 20, 25, 30, 40, 50, 100, 250, 500 ], params[:limit]), class: 'dropdown-toggle select-box form-control') %>
      <div class="filter-label text-center">
        <div class="col-md-12">
          <button id="filter-apply" type="submit" class="btn btn-primary pull-right">Apply</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
