<%= form_for @yvt, url: youtube_video_youtube_video_annotation_path(@yvt.youtube_video, @yvt), html: { multipart: true } do |f| %>
	<%= f.hidden_field :youtube_video_id %>
	<%= f.hidden_field :id if @yvt[:id].present? %>
	<%= f.label :type, class: 'control-label' %>
	<%= f.select(:annotation_type, options_for_select(YoutubeVideoAnnotation::TYPES.collect{ | key, value | [key.to_s.humanize, value] }, @yvt.annotation_type.try(:value)), { include_blank: false }, { class: 'form-control' }) %>
	<div class="m-th <%= 'has-error' if @yvt.errors[:description].present? %>">
		<%= f.label :description, class: 'control-label' %>
		<%= f.text_area :description, size: '40x3', class: 'form-control', placeholder: 'Description' %>
	</div>
	<div class="row m-th">
		<div class="col-md-3">
			<%= f.label :style, class: 'control-label' %>
			<%= f.select(:style, options_for_select(YoutubeVideoAnnotation::STYLES.collect{ | key, value | [key.to_s.humanize, value] }, @yvt.style.try(:value)), { include_blank: false }, { class: 'form-control' }) %>
		</div>
		<div class="col-md-3">
			<%= f.label :font_size, class: 'control-label' %>
			<%= f.select(:font_size, options_for_select(YoutubeVideoAnnotation::FONT_SIZES, @yvt.font_size), { include_blank: false }, { class: 'form-control' }) %>
		</div>
		<div class="col-md-3">
			<%= f.label :font_color, class: 'control-label' %>
			<%= f.select(:font_color, options_for_select(YoutubeVideoAnnotation::FONT_COLORS.collect{ | key, value | [key.to_s.humanize, value] }, @yvt.font_color.try(:value)), { include_blank: false }, { class: 'form-control' }) %>
		</div>
		<div class="col-md-3">
			<%= f.label :background, class: 'control-label' %>
			<%= f.select(:background, options_for_select(YoutubeVideoAnnotation::BACKGROUNDS.collect{ | key, value | [key.to_s.humanize, value] }, @yvt.background.try(:value)), { include_blank: false }, { class: 'form-control' }) %>
		</div>
	</div>
	<hr class="m-v">
	<div class="row">
		<div class="col-md-6">
			<%= f.label :start_time, class: 'control-label' %>
			<%= f.hidden_field :start_time %>
			<input id="start_time_hours" name="value" value="0" size="2" readonly>
			<span class="time-delimiter">:</span>
			<input id="start_time_minutes" name="value" value="0" size="2" readonly>
			<span class="time-delimiter">:</span>
			<input id="start_time_seconds" name="value" value="0" size="2" readonly>
		</div>
		<div class="col-md-6">
			<%= f.label :end_time, class: 'control-label' %>
			<%= f.hidden_field :end_time %>
			<input id="end_time_hours" name="value" value="0" size="2" readonly>
			<span class="time-delimiter">:</span>
			<input id="end_time_minutes" name="value" value="0" size="2" readonly>
			<span class="time-delimiter">:</span>
			<input id="end_time_seconds" name="value" value="0" size="2" readonly>
		</div>
	</div>
	<hr class="m-v">
	<div class="row form-group">
		<div class="col-md-3">
			<%= f.label :link_type, class: 'control-label' %>
			<%= f.select(:link_type, options_for_select(YoutubeVideoAnnotation::LINK_TYPES.collect{ | key, value | [key.to_s.humanize, value] }, @yvt.link_type.try(:value)), { include_blank: false }, { class: 'form-control' }) %>
		</div>
		<div class="col-md-3">
			<br>
			<label><%= f.check_box :open_in_new_window, include_hidden: false %> Open link in new window</label>
		</div>
		<div class="col-md-6">
			<br>
			<%= f.label :link_start_time, class: 'control-label m-th' %>
			<%= f.hidden_field :link_start_time %>
			<input id="link_start_time_hours" name="value" value="0" size="2" readonly>
			<span class="time-delimiter">:</span>
			<input id="link_start_time_minutes" name="value" value="0" size="2" readonly>
			<span class="time-delimiter">:</span>
			<input id="link_start_time_seconds" name="value" value="0" size="2" readonly>
		</div>
	</div>
	<div class="<%= 'has-error' if @yvt.errors[:link].present? %>">
		<%= f.label :link, class: 'control-label' %>
		<%= f.text_field :link, class: 'form-control', placeholder: 'Link' %>
	</div>
<% end %>
