<% title 'Recovery Attempt Responses' %>
<% if flash[:notice] %>
  <div id="notice_explanation" class="alert alert-success alert-dismissable alert-fade-out">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
      <i class="icon fa fa-exclamation-circle"></i>
      <%= flash[:notice] %>
    </h4>
  </div>
<% end %>
<div id="recovery_attempt_responses_list">
  <div class="row">
    <div class="col-md-5">
      <%= link_to 'New Recovery Attempt Response', new_recovery_attempt_response_path, class: 'btn btn-sm btn-primary' %>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label class="control-label"><i class="fa fa-database"></i> Total search results:</label>
        <span class="badge bg-blue">
          <%= @recovery_attempt_responses.total_count%>
        </span>
      </div>
    </div>
  </div>
  <% unless @recovery_attempt_responses.to_a.empty? %>
    <table id="recovery_attempt_responses_table" class="table table-bordered table-striped dataTable">
      <thead>
        <tr>
          <th style="width: 50px;" class="sort text-center" id="id-th" data-field="id">ID</th>
          <th class="sort" id="response-th" data-field="response">Response</th>
          <th style="width: 110px;" class="sort text-center" id="response_type-th" data-field="response_type">Response Type</th>
          <th style="width: 130px;" class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @recovery_attempt_responses.each do |recovery_attempt_response| %>
          <tr>
            <td class="text-center"><%=recovery_attempt_response.id %></td>
            <td><%=recovery_attempt_response.response %></td>
            <td class="text-center"><%= link_to recovery_attempt_response.response_type, { controller: "recovery_attempt_responses", response_type: recovery_attempt_response.response_type.value, limit: params[:limit]}, class: 'sort_link' %></td>
            <td class="text-center actions">
              <div class="btn-group btn-group-custom">
                <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_recovery_attempt_response_path(recovery_attempt_response),  {class: 'btn btn-xs btn-primary' } %>
                <%= link_to '<i class="fa fa-eraser"></i> Delete'.html_safe, recovery_attempt_response, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div><%= paginate @recovery_attempt_responses, theme: 'bootstrap' %></div>

  <% if @recovery_attempt_responses.to_a.empty? %>
    <div class="row col-md-12">
      <br>
      <div class="alert alert-info">
        No items available
      </div>
    </div>
  <% end %>
</div>

<div id="filter" class="no-print"><i class="fa fa-gear"></i></div>
<div id="filter_settings" class="no-print">
  <h4 style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Filters</h4>
  <%
      order = [:id, :response, :response_type, :updated_at, :created_at]
      order_type = [["Ascending", "asc"], ["Descending", "desc"]]
      order_value = params[:order]
      order_value = :updated_at unless order_value
    %>
    <div id="search_params">
      <%= form_tag({ controller: :recovery_attempt_responses, action: :index}, {method: :get, id: 'filters_form'}) do |f| %>
        <div class="filter-label">ID:</div>
        <%= search_field_tag :id, params[:id], class: 'form-control numeric' %>
        <div class="filter-label">Response:</div>
        <%= search_field_tag :response, params[:response], class: 'form-control' %>
        <div class="filter-label">Response Type:</div>
        <%= select_tag(:response_type, options_for_select(RecoveryAttemptResponse::RESPONSE_TYPES.collect{ |key, value| [key.to_s.humanize, value] }, params[:response_type]), { include_blank: true, class: 'dropdown-toggle select-box form-control' }) %>
        <div class="filter-label">Order by:</div>
        <%= select_tag('filter[order]', options_for_select(order.collect { |key| [key.to_s.humanize, key] }, params[:filter][:order]), { include_blank: false, class: 'dropdown-toggle select-box form-control' }) %>
        <div class="filter-label">Order type:</div>
        <%= select_tag('filter[order_type]', options_for_select(order_type, params[:filter][:order_type]), { include_blank: false, class: 'dropdown-toggle select-box form-control' }) %>
        <div class="filter-label">Items on page:</div>
        <%= select_tag('limit', options_for_select([5, 10 , 15, 20, 25, 30, 40, 50, 100, 250, 500 ], params[:limit]), class: 'dropdown-toggle select-box form-control') %>
        <div class="filter-label text-center">
          <div class="col-md-12">
            <button id="filter-apply" type="submit" class="btn btn-primary pull-right">Apply</button>
          </div>
        </div>
      <% end %>
    </div>
</div>
