<div class="modal modal-wide fade" id="<%= dom_id(comment, 'modal') %>" style="z-index: 9999 !important">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for comment, url: {controller: 'comments',  action: (comment.new_record? ? 'create' : 'update')}, data: {remote: true}, :multipart => true do |f| %>
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">
            <span>×</span>
          </button>
          <% if comment.new_record? %>
            <h4>New comment</h4>
          <% else %>
            <h4>Comment #<%= comment.id%></h4>
          <% end %>
        </div>
        <div class="modal-body" style="padding-bottom: 35px">
          <%= f.hidden_field :id %>
          <%= f.hidden_field :resource_id %>
          <%= f.hidden_field :resource_type %>
          <div class="form-group <%= 'has-error' if comment.errors[:value].present? %>" data-content="<%= comment.errors[:value].try(:join, ',') %>">
            <%= f.label :value, class: 'control-label' %>
            <%= f.text_area :value,  class: 'form-control', placeholder: 'Value', rows: 10 %>
          </div>
          <% unless comment.new_record? %>
            <div class="form-group">
              <%= f.label :updated_at, class: 'control-label' %>
              <p><%= local_time(comment.updated_at, format: '%m/%d/%y %I:%M %p', title: comment.updated_at.try(:in_time_zone, 'Eastern Time (US & Canada)').try(:strftime, '%m/%d/%y %I:%M %p - Eastern Time (US & Canada)')) %> by <b><%= comment.versions.last.try(:whodunnit)%></b></p>
            </div>
            <div class="form-group">
              <%= f.label :created_at, class: 'control-label' %>
              <p><%= local_time(comment.created_at, format: '%m/%d/%y %I:%M %p', title: comment.created_at.try(:in_time_zone, 'Eastern Time (US & Canada)').try(:strftime, '%m/%d/%y %I:%M %p - Eastern Time (US & Canada)')) %> by <b><%= comment.versions.first.try(:whodunnit)%></b></p>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
          <%= f.submit (comment.new_record? ? t(:create) : t(:update)), class: 'btn btn-primary', data: {disable_with: (comment.new_record? ? t(:creating) : t(:updating)) } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
