.nav-tabs-custom
	%ul.nav.nav-tabs
		- project_item_types = %w(texts images)
		- item_columns = {texts: %w(name), images: %w(name width height)}
		- project_item_types.each_with_index do |(key, value), index|
			%li{class: ('active' if index == 0).to_s}
				= link_to key.to_s.humanize.pluralize, "##{key.to_s.pluralize}", data: {toggle: 'tab'}
		.tab-content{class: 'no-padding'}
			- project_item_types.each_with_index do |item, index|
				.tab-pane.chart{class: ('active' if index == 0), id: "#{item.pluralize}"}
					.row
						.col-md-12{style: "margin-bottom: 5px"}
							= link_to "Add #{item}", url_for(action: "new", controller: "templates/image_template_#{item.pluralize}", image_template_id:  f.object.id), remote: true, class: "btn btn-primary btn-sm pull-right"
					.row{style: "margin-bottom: 3px;"}
						.col-md-12
							%table{class: "table table-bordered table-striped dataTable",id: "image_template_#{item}", role: "grid"}
								%thead
									%tr{role: "role"}
										%th.id= t 'id'
										- item_columns[item.to_sym].each do |c|
											%th{class: c}= t("templates.image_template_#{item.singularize}.#{c}")
										%th{class: 'actions'}= t('actions')
								%tbody
									= f.fields_for item, eval("f.object.#{item}") do |image_form|
										= render partial: "templates/image_templates/image_template_#{item}", locals: {image_form: image_form}
