.row
	.col-md-2= label_tag '', 'Project ID'
	.col-md-10= label_tag '', @item.id
.row
	.col-md-2= label_tag '', 'Project Name'
	.col-md-10= label_tag '', @item.name

%p{style: "margin-top: 10px;"} AAE Projet Video Thumbnail
= image_tag @item.thumbnail.url, style: 'max-height: 540px; max-width: 720px;'
