- content_for(:header){'Upload local videos'}
- content_for(:stylesheets) do
	= stylesheet_link_tag 'jquery.fileupload'
	= stylesheet_link_tag 'jquery.fileupload-ui'
- content_for(:javascripts){javascript_include_tag 'jquery-fileupload'}

.row
	.col-md-4
		.form-group
			= label_tag 'video_set_id', "#{t('sandbox.video.video_set_id')} *", class: "control-label"
			= select_tag 'video_set_id', options_from_collection_for_select(Sandbox::VideoSet.order(:title), "id", "title"), include_blank: true, class: "form-control"

= form_for Sandbox::Video.new, url: url_for(controller: 'admin/sandbox/videos_upload', action: :upload), :html => { :multipart => true, :id => "fileupload"  } do |f|
	.row{class: "fileupload-buttonbar"}
		.col-md-7
			%span{class: "btn btn-success fileinput-button"}
				%i{class: "icon-plus icon-white"}
				%span= t('browse')
				= f.file_field :file, multiple: true, accept: 'video/mp4'
			%button{type: "submit", class:"btn btn-primary start"}
				%i{class:"icon-upload icon-white"}
				%span= t('start_all')
			%button{type:"reset", class:"btn btn-warning cancel"}
				%i{class:"icon-ban-circle icon-white"}
				%span= t('cancel_all')
		.col-md-5
			.progress{class: "progress progress-success progress-striped active fade"}
				.bar{style: "width:0%;"}
	.fileupload-loading
	%br
	%table{class:"table table-striped"}
		%tbody{class: "files", data: {toggle: "modal-gallery", target: "#modal-gallery"}}

= render partial: "video_upload_templates"
