.panel.panel-default
  .panel-heading
    %h3{:style => "text-align:center; margin:10px;"}
      ="Choose media files for upload"
      %i.fa.fa-cloud-upload
  .panel-body
    = form_for Social::Image.new, url: shared_media_images_upload_path,:html => { :multipart => true, :id => "fileupload"} do |f|
      .row.block
        .col-md-3
          .row
            .col-md-3
              .form-group
                = check_box_tag "image_files", '', false, name: 'image[files]'
                = label_tag "images", "Images", :for => 'image_files'
            .col-md-9
              .form-group.image_select{:style => "display:none"}
                = label_tag 'Type: '
                - image_options = Social::Image::IMAGE_TYPES.map{|v,k| [v.to_s.camelize, k]}
                = select_tag "image_content_type", options_for_select(image_options), name: "image[content_type]", class: "form-control", include_blank: true
        .col-md-9
          .row.location#image_location_info{:style => "display:none"}
            - default_country = Geobase::Country.find_by_code("US")
            = hidden_field_tag('country_default', nil, name: "image[country_default]", data: {id: default_country.id, name: default_country.name})
            .col-md-3.col-xs-3.col-sm-3
              .form-group
                = label_tag 'Country'
                = hidden_field_tag('country', "", name: "image[country]", class: "form-control country")
            .col-md-3.col-xs-3.col-sm-3
              .form-group
                = label_tag 'State'
                = hidden_field_tag('region1', "", name: "image[region1]", class: "form-control region1")
            .col-md-3.col-xs-3.col-sm-3
              .form-group
                = label_tag 'Locality'
                = hidden_field_tag('region2', "", name: "image[region2]", class: "form-control region2")
            .col-md-3.col-xs-3.col-sm-3
              .form-group
                = label_tag 'City'
                = hidden_field_tag('city', "", name: "image[city]", class: "form-control city")
      .row.block
        .col-md-3
          .row
            .col-md-3
              .form-group
                = check_box_tag "video_files", '', false, name: "video[files]"
                = label_tag "video", "Video", :for => 'video_files'
            .col-md-9
              .row.form-group.video_select{:style => "display:none"}
                = label_tag 'Type: '
                - video_options = Social::Video::VIDEO_TYPES.map{|v,k| [v.to_s.camelize, k]}
                = select_tag "video_content_type", options_for_select(video_options), name: "video[content_type]", class: "form-control", include_blank: true
        .col-md-9
          .row.location#video_location_info{:style => "display:none"}
            - default_country = Geobase::Country.find_by_code("US")
            = hidden_field_tag('country_default', nil, name: "video[country_default]", data: {id: default_country.id, name: default_country.name})
            .col-md-3.col-xs-3.col-sm-3
              .form-group
                = label_tag 'Country'
                = hidden_field_tag('video_country', "", name: "video[country]", class: "form-control country")
            .col-md-3.col-xs-3.col-sm-3
              .form-group
                = label_tag 'State'
                = hidden_field_tag('video_region1', "", name: "video[region1]", class: "form-control region1")
            .col-md-3.col-xs-3.col-sm-3
              .form-group
                = label_tag 'County'
                = hidden_field_tag('video_region2', "", name: "video[region2]", class: "form-control region2")
            .col-md-3.col-xs-3.col-sm-3
              .form-group
                = label_tag 'City'
                = hidden_field_tag('video_city', "", name: "video[city]", class: "form-control city")
      .row.block
        .col-md-3
          .row
            .col-md-3
              .form-group
                = check_box_tag "audio_files", '', false, name: 'audio[files]'
                = label_tag "audio", "Audio", :for => 'audio_files'
            .col-md-9
              .row.form-group.audio_select{:style => "display:none"}
                = label_tag 'Type: '
                - audio_options = Social::Audio::AUDIO_TYPES.map{|v,k| [v.to_s.camelize, k]}
                = select_tag "audio_content_type", options_for_select(audio_options), name: "audio[content_type]", class: "form-control", include_blank: true
        .col-md-9

      %hr
      .row
        .col-md-2
          .form-group
            = label_tag 'client_id', 'Client', class: "control-label"
            = select_tag 'client_id', options_from_collection_for_select(Client.order(:name), "id", "name"),
              {class: 'form-control', include_blank: true, data: {url: shared_media_images_products_for_client_path, remote: true}}
            %p.help-block Select client just in case when images are specific to particular client

        .col-md-2#products_for_client
          .form-group
            = label_tag 'products', 'All products', class: "control-label"
            = select_tag 'products', options_from_collection_for_select(Product.all, 'id', 'name'),
              {class: 'form-control', include_blank: true, data: {remote: true}}
            %p.help-block Select client's product
        .col-md-4#tags_for_client
          .form-group
            = label_tag "tags", "tags"
            = text_field_tag "tags", "", class: "form-control images_tags", placeholder: "Enter tags", data: {role: "tagsinput"}
            %p.help-block Tags should be separated by commas

        .col-md-4
          .form-group
            = label_tag "notes", "notes"
            = text_area_tag "notes", "", class: 'form-control', rows: 3, placeholder: 'Notes'
      %hr
      .row
        .col-md-12
          .table_box
            .fileupload-loading
            %br
            = render partial: "local_import_templates"

      .row.agreement.hidden
        .col-md-12.center
          .col-md-4.col-md-offset-4
            %h3.control-label="I agree with terms of use"
            = link_to "(See our terms of use)", '#', id: 'terms_of_use', data: {toggle: "modal", target: "#terms_of_use_modal", tooltip: "tooltip", placement: "left", html: 'true'}, title: "<i class='fa fa-info-circle' aria-hidden='true'></i><p>Click here to show our terms of use </p>"
            %h3= f.check_box(:is_special, {class: "", id: "agreement", name: "image[is_special]"}, "yes", "no")

      %hr
      .row.fileupload-buttonbar
        .col-md-12.center
          %span.btn.btn-success.btn-lg.fileinput-button.browse
            %i.fa.fa-search
            %span= t('browse')
            = file_field_tag :file, multiple: true, accept: 'image/png,image/gif,image/jpeg,image/jpg, audio/mp3,audio/mp4,audio/wav,audio/mpeg, video/mp4'
          %button.btn.btn-primary.btn-lg.start.start_all.pull-center.hidden{type: "submit"}
            %i.fa.fa-upload
            %span= 'Upload all'
          %button.btn.btn-warning.btn-lg.cancel.cancel_all.hidden{type:"reset"}
            %i.glyphicon.glyphicon-ban-circle
            %span= t('cancel_all')
      %hr
        .col-md-12.center
          .btn-group.btn-group-custom
            = link_to "#", :class => "btn btn-primary btn-lg next-step disabled" do
              = "Next"
              = fa_icon "arrow-right"

.modal.fade#terms_of_use_modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}, :aria => {:hidden => true}}
        %h4.modal-title#myModalLabel="Terms of use"
      .modal-body
        .row
          .col-md-12
      .modal-footer
        %button.btn.btn-default{:type => "button", data: {dismiss: "modal"}}
          = "Close"
