.modal.fade{id: dom_id(item.becomes(Social::Audio), 'modal'), class: "#{item.class.to_s.underscore.gsub('/','_')}_modal"}
  .modal-dialog.modal-lg
    .modal-content
      = form_for item,
      url: {controller: params[:controller], action: (item.new_record? ? 'create' : 'update')},
      authenticity_token: true, data: {remote: true}, :multipart => true do |f|
        .modal-header
          %button.close{ type: 'button', data: { dismiss: 'modal' } }
            %span &times;
          %h4= "Update audio #{item.id}"
        .modal-body
          .row
            .col-md-6
              .form-group
                = f.label :title
                = f.text_field :title, class: "form-control", placeholder: "Enter title"
            .col-md-6
              .form-group
                = f.label :client_id
                - clients = Client.order(:name)
                = f.select :client_id, options_from_collection_for_select(clients, :id, :name, f.object.client_id), {include_blank: true}, class: "form-control"
          .row
            .col-md-12
              .form-group
                = f.label nil, "Tags"
                = f.text_field :tag_list, class: "form-control"
          .row
            .col-md-12
              .form-group
                = f.label :notes
                = f.text_area :notes, class: 'form-control', rows: 3, placeholder: 'Enter description for audio'
          %hr
          .row
            .col-md-6
              .form-group
                = label_tag nil, 'Audio', class: 'control-label'
                - unless f.object.file.blank?
                  %div= audio_tag f.object.file.url, controls: true, autobuffer: false, style: "width: 400px;"
            .col-md-6
              = label_tag nil, 'Uploaded at', class: 'control-label'
              %div= local_time(f.object.file_updated_at, format: '%m/%d/%y %I:%M %p', title: f.object.file_updated_at.try(:in_time_zone, 'Eastern Time (US & Canada)').try(:strftime, '%m/%d/%y %I:%M %p - Eastern Time (US & Canada)'))
        .modal-footer
          %button{type: 'button', class: 'btn btn-default', data: {dismiss: 'modal'}}= t(:close)
          = f.submit (item.new_record? ? t(:create) : t(:update)),
          class: 'btn btn-primary',
          data: {disable_with: (item.new_record? ? t(:creating) : t(:updating))}

:javascript
  $('.livepreview.left-livepreview').livePreview({
    position: 'left'
  });

  $('.livepreview').livePreview();

  $(function(){
    $('select').select2({
      allowClear: true,
      placeholder: "Choose ..."
    })
  })
