- header 'Audio Storage'
- breadcrumb :artifacts_audio_storage, theme: "bootstrap"

= form_tag shared_media_audios_path, method: 'get', id: 'audio_search_form' do
  .box.box-primary
    .box-body
      .input-group.input-group-lg
        = text_field_tag :q, params[:q], :class => 'form-control input-lg'
        .input-group-btn#api-switch
          %button.btn.btn-primary.audio-search-btn#audio-search-btn{ type: 'button' }
            Search
            = fa_icon 'search'
          %button.btn.btn-default.audio-clear-btn#audio-clear-btn{ type: 'button' }
            Clear
            = fa_icon 'eraser'
  = render partial: 'index_search_filter'
- if @total_count.present? && @total_count > 0
  - if !@audios.any?
    .row
      .col-lg-12.col-md-12
        .alert.alert-info There no some files
  .row
    .col-md-12
      = render 'index_table', audios: @audios
