.box
  .box-header
    %h3.box-title= "Videos items"
    .box-tools
      %strong.total_count= @videos.count
      items totally
  .box-body
    %table.table.table-striped.uploaded_video_list
      %tbody.thead
        = render partial: "index_table_header"
      %tbody.tbody
        - @videos.each do |video|
          = render partial: "index_table_row", locals: {video: video}
      - if @videos.to_a.any?
        %tbody.tfoot
          = render partial: "index_table_header"
    = paginate @videos, theme: 'bootstrap'
