- if params[:api] == 'Jamendo'
	- @audios.each do |audio|
		= render partial: 'index_jamendo_item', locals: {audio: audio}

- elsif params[:api] == 'Soundcloud'
	- @audios.each do |audio|
		= render partial: 'index_soundcloud_item', locals: {audio: audio}

- else
	.box
		.box-header
			%h3.box-title= "Audios items"
		.box-tools
			%strong= @audios.total_count
			items totally
		.box-body
			%table.table.table-striped.audio_items
				%tbody.thead
					= render partial: "index_table_header"
				%tbody.tbody
					- @audios.each do |audio|
						= render partial: "index_table_row", locals: {audio: audio}
				- if @audios.to_a.any?
					%tbody.tfoot
						= render partial: "index_table_header"
			= paginate @audios, theme: 'bootstrap'
