= hidden_field_tag :form_product_json, f.object.product.blank? ? "{}" : f.object.product.to_json(only:[:id, :name])
= hidden_field_tag :form_source_video_json, f.object.source_video.blank? ? "{}" : f.object.source_video.to_json(only:[:id, :custom_title])
.form-group
	= f.label :name, t("blending_pattern.name")
	= f.text_field :name, class: "form-control"
.form-group
	.row
		.col-md-4
			= f.label :client_id, t("blending_pattern.client_id")
			- clients = Client.order(:name)
			= f.select :client_id, options_from_collection_for_select(clients, :id, :name, f.object.client_id), {include_blank: true}, class: "form-control"
		.col-md-4
			= f.label :product_id, t("blending_pattern.product_id")
			= f.hidden_field :product_id, class: "form-control"
		.col-md-4
			= f.label :source_video_id, t("blending_pattern.source_video_id")
			= f.hidden_field :source_video_id, class: "form-control"

.box.box-primary
	.box-header
		= fa_icon 'cubes'
		%h3.box-title Blending Pattern Parts *
		.box-tools.pull-right
			= link_to add_blending_pattern_item_blending_patterns_path, data:{disable_with: t('adding'), remote: true}, class: "btn btn-primary btn-sm" do
				= fa_icon 'plus'
				%span= t('add')
	.box-body
		.form-group
			= f.hidden_field :value
			%ul.todo-list.ui-sortable{id: "blending_pattern_items"}
				- f.object.values.each do |pi|
					= render partial: "blending_pattern_item", locals: {video_type: pi}
= javascript_include_tag 'blending_patterns/form'
= javascript_include_tag 'blending_patterns/dropdowns'
