<% unless job.resource.phone_usages.to_a.empty? %>
    <table id="phone_usages_table" class="table table-bordered table-striped dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Phone</th>
                <th>SMS Code</th>
                <th>Phone Service</th>
                <th>Phone Service Account</th>
                <th>Error Type</th>
                <th>Action Type</th>
                <th>Usageable ID</th>
                <th>Usageable Type</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <% job.resource.phone_usages.each do |phone_usage| %>
                <tr>
                    <td class="text-center"><%= phone_usage.id %></td>
                    <td><%= link_to_if phone_usage.phone.present?, phone_usage.phone.try(:value), edit_phone_path(phone_usage.phone), target: '_blank' %></td>
                    <td><%= phone_usage.sms_code %></td>
                    <td><%= link_to_if phone_usage.phone_service.present?, phone_usage.phone_service.try(:name), edit_phone_service_path(phone_usage.phone_service), target: '_blank' %></td>
                    <td><%= link_to_if phone_usage.phone_service_account.present?, phone_usage.phone_service_account.try(:username), edit_phone_service_account_path(phone_usage.phone_service_account), target: '_blank' %></td>
                    <td><%= phone_usage.error_type %></td>
                    <td><%= phone_usage.action_type %></td>
                    <td><%= phone_usage.phone_usageable_id %></td>
                    <td><%= phone_usage.phone_usageable_type %></td>
                    <td><%= local_time(phone_usage.created_at, format: '%m/%d/%y %I:%M %p', title: phone_usage.created_at.try(:in_time_zone, 'Eastern Time (US & Canada)').try(:strftime, '%m/%d/%y %I:%M %p - Eastern Time (US & Canada)')) if phone_usage.created_at.present?%></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
