<% status_labels = %w(bg-navy bg-navy bg-navy bg-navy bg-navy bg-navy bg-navy bg-teal bg-navy bg-yellow bg-olive bg-green bg-orange bg-fuchsia bg-maroon bg-fuchsia bg-purple bg-red bg-aqua bg-blue bg-teal bg-lime bg-lighten-3 bg-gray bg-gray bg-lighten-2 bg-lighten-4 bg-lighten-1) %>
<tbody id="scheduled_jobs_table_body" role="alert" aria-live="polite" aria-relevant="all">
  <% jobs.each do |job| %>
    <% dealer = job.resource.resource %>
    <tr>
      <td><%= job.id %></td>
      <td><%= dealer.id %></td>
      <td><%= dealer.name %></td>
      <td><%= dealer.brand_id %></td>
      <td><%= dealer.city %></td>
      <td><%= dealer.state %></td>
      <td class="text-center"><span class="label <%= status_labels[job.status.try(:value).to_i] %>"><%= job.status.to_s.upcase %></span></td>
      <td class="text-center"><%= job.admin_user.try(:full_name) %></td>
      <td class="text-center"><%= local_time(job.run_at, format: '%m/%d/%y %I:%M %p', title: job.run_at.try(:in_time_zone, 'Eastern Time (US & Canada)').try(:strftime, '%m/%d/%y %I:%M %p - Eastern Time (US & Canada)')) if job.run_at.present? %></td>
      <td class="text-center">
        <%= local_time(job.updated_at, format: '%m/%d/%y %I:%M %p', title: job.updated_at.try(:in_time_zone, 'Eastern Time (US & Canada)').try(:strftime, '%m/%d/%y %I:%M %p - Eastern Time (US & Canada)')) if job.completed %>
      </td>
      <td class="text-center">
        <%= local_time(job.created_at, format: '%m/%d/%y %I:%M %p', title: job.created_at.try(:in_time_zone, 'Eastern Time (US & Canada)').try(:strftime, '%m/%d/%y %I:%M %p - Eastern Time (US & Canada)')) %>
      </td>
      <td class="text-center">
        <%= Utils.seconds_to_time(job.running_time, true) if job.completed %>
      </td>
      <td class="text-center">
        <%= Utils.seconds_to_time(job.resource.duration, true) if job.completed %>
      </td>
      <% if %w(index scheduled_jobs).include?(params[:action]) %>
        <td class="text-center">
          <% if job.admin_user.try(:id) == current_admin_user.id %>
            <%= link_to "Process Now <i class='fa fa-chevron-right'></i>".html_safe, edit_queue_path(name: params[:name], id: job.id), target: "_blank", class: "btn btn-sm btn-success", onclick: "$(this).parent().parent().hide();" %>
          <% elsif !job.admin_user.present? %>
            <%= link_to "Process Now <i class='fa fa-chevron-right'></i>".html_safe, unlock_queue_path(name: params[:name], id: job.id, now: true), method: :post, target: "_blank", class: "btn btn-sm btn-primary", onclick: "$(this).parent().parent().hide();" %>
          <% else %>
            <%= link_to "<i class='fa fa-unlock-alt'></i> Reassign & Process <i class='fa fa-chevron-right'></i>".html_safe, unlock_queue_path(name: params[:name], id: job.id), method: :post, target: "_blank", class: "btn btn-sm btn-warning", onclick: "$(this).parent().parent().hide();" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <% if jobs.to_a.empty? %>
    <tr><td colspan="<%= %w(index scheduled_jobs).include?(params[:action]) ? '14' : '13'%>" class="text-center">No items available</td></tr>
  <% end %>
</tbody>
