<%= form_for @adwords_campaign_group, url: email_account_adwords_campaign_adwords_campaign_group_path(@email_account, @adwords_campaign, @adwords_campaign_group), :html => { :multipart => true } do |f| %>
	<%= f.hidden_field :adwords_campaign_id %>
	<div class="row">
		<% if @adwords_campaign_group.errors.any? %>
			<div class="col-md-12">
				<div id="error_explanation" class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h4><i class="icon fa fa-exclamation-circle"></i> <%= pluralize(@adwords_campaign_group.errors.count, 'error') %> prohibited this adwords campaign group from being saved</h4>
				</div>
			</div>
		<% end %>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="form-group col-md-4 <%= 'has-error' if @adwords_campaign_group.errors[:name].present? %>" data-content="<%= @adwords_campaign_group.errors[:name].try(:join, ',') %>">
							<%= f.label :name, class: 'control-label' %>
							<%= f.text_field :name, class: 'form-control', placeholder: 'Name', maxlength: "#{AdwordsCampaignGroup::NAME_LIMIT}" %>
						</div>
						<div class="form-group col-md-4 <%= 'has-error' if @adwords_campaign_group.errors[:video_ad_url].present? %>" data-content="<%= @adwords_campaign_group.errors[:video_ad_url].try(:join, ',') %>">
							<%= f.label :video_ad_url, class: 'control-label' %>
							<%= f.text_field :video_ad_url, class: 'form-control', placeholder: 'Video Ad URL' %>
						</div>
						<div class="form-group col-md-4">
							<%= f.label :video_ad_format, class: 'control-label' %>
							<%= f.select(:video_ad_format, options_for_select(AdwordsCampaignGroup::VIDEO_AD_FORMATS.collect{ |key, value| [key.to_s.humanize, value] }, @adwords_campaign_group.video_ad_format.try(:value)), { include_blank: false, class: 'form-control', placeholder: 'Select video ad format' }) %>
						</div>
					</div>
					<div id="in_stream_ad_block" class="row" <% if @adwords_campaign_group.video_ad_format == AdwordsCampaignGroup.video_ad_format.find_value("In-display ad")%>style="display:none;"<% end %>>
						<div class="col-md-6">
							<div class="form-group <%= 'has-error' if @adwords_campaign_group.errors[:display_url].present? %>" data-content="<%= @adwords_campaign_group.errors[:display_url].try(:join, ',') %>">
								<%= f.label :display_url, class: 'control-label' %>
								<%= f.text_field :display_url, class: 'form-control', placeholder: 'Display URL', maxlength: "#{AdwordsCampaignGroup::DISPLAY_URL_LIMIT}" %>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group <%= 'has-error' if @adwords_campaign_group.errors[:final_url].present? %>" data-content="<%= @adwords_campaign_group.errors[:final_url].try(:join, ',') %>">
								<%= f.label :final_url, class: 'control-label' %>
								<%= f.text_field :final_url, class: 'form-control', placeholder: 'Final URL' %>
							</div>
						</div>
					</div>
					<div id="in_display_ad_block" class="row" <% if @adwords_campaign_group.video_ad_format != AdwordsCampaignGroup.video_ad_format.find_value("In-display ad")%>style="display:none;"<% end %>>
						<div class="col-md-4">
							<div class="form-group <%= 'has-error' if @adwords_campaign_group.errors[:headline].present? %>" data-content="<%= @adwords_campaign_group.errors[:headline].try(:join, ',') %>">
								<%= f.label :headline, class: 'control-label' %>
								<%= f.text_field :headline, class: 'form-control', placeholder: 'Headline', maxlength: "#{AdwordsCampaignGroup::HEADLINE_LIMIT}" %>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group <%= 'has-error' if @adwords_campaign_group.errors[:description_1].present? %>" data-content="<%= @adwords_campaign_group.errors[:description_1].try(:join, ',') %>">
								<%= f.label :description_1, class: 'control-label' %>
								<%= f.text_field :description_1, class: 'form-control', placeholder: 'Description 1', maxlength: "#{AdwordsCampaignGroup::DESCRIPTION_1_LIMIT}" %>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group <%= 'has-error' if @adwords_campaign_group.errors[:description_2].present? %>" data-content="<%= @adwords_campaign_group.errors[:description_2].try(:join, ',') %>">
								<%= f.label :description_2, class: 'control-label' %>
								<%= f.text_field :description_2, class: 'form-control', placeholder: 'Description 2', maxlength: "#{AdwordsCampaignGroup::DESCRIPTION_2_LIMIT}" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group <%= 'has-error' if @adwords_campaign_group.errors[:ad_name].present? %>" data-content="<%= @adwords_campaign_group.errors[:ad_name].try(:join, ',') %>">
								<%= f.label :ad_name, class: 'control-label' %>
								<%= f.text_field :ad_name, class: 'form-control', placeholder: 'Ad Name', maxlength: "#{AdwordsCampaignGroup::AD_NAME_LIMIT}" %>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="form-group col-md-6">
									<div class="checkbox">
										<label><%= f.check_box :ready, class: 'iCheck-helper' %> Ready</label>
									</div>
								</div>
								<div class="form-group col-md-6">
									<div class="checkbox">
										<label><%= f.check_box :linked, class: 'iCheck-helper' %> Linked</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="form-group col-md-12">
									<div class="actions pull-right">
										<%= link_to 'Back', edit_email_account_adwords_campaign_path(@email_account, @adwords_campaign, :anchor => "adwords-campaign-groups-tab"), class: 'btn btn-sm btn-primary' %>
										<%= f.submit :class => 'btn btn-sm btn-success', :id => 'adwords_campaign_group_submit' %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
