<% queue_name = params[:name].humanize.titleize + ' Queue' %>
<% title queue_name %>
<% content_for :header do %>
  <h1 class="pull-left"><%= "#{queue_name} <span class='badge bg-grey' style='vertical-align: middle !important' title='Total number of records in the queue'>#{Job.where(queue: params[:name]).size.to_s(:delimited)}</span>".html_safe %></h1>
  <div class="actions pull-right">
    <%= link_to 'Start Work <i class="fa fa-chevron-right"></i>'.html_safe, next_record_queue_path(name: params[:name]), class: "btn btn-success btn-lg", style: "font-variant: small-caps;" %>
  </div>
  <hr/>
<% end %>

<% if flash[:notice] %>
  <div id="notice_explanation" class="alert alert-success alert-dismissable alert-fade-out">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-exclamation-circle"></i> <%= flash[:notice] %></h4>
  </div>
<% end %>

<% if flash[:alert] %>
  <div id="notice_explanation" class="alert alert-danger alert-dismissable alert-fade-out">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-exclamation-circle"></i> <%= flash[:alert] %></h4>
  </div>
<% end %>

<div class="nav-tabs client-tabs">
  <ul class="nav nav-tabs">
    <li class="tab-url active"><a href="#scheduled_jobs_tab" data-toggle="tab">Scheduled Jobs</a></li>
    <li class="tab-url"><a href="#history_tab" data-toggle="tab">History</a></li>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="scheduled_jobs_tab"><%= render partial: "queue/scheduled_jobs", locals: { jobs: @scheduled_jobs } %></div>
    <div class="tab-pane" id="history_tab"><%= render partial: "queue/history", locals: { jobs: @completed_jobs } %></div>
  </div>
</div>
