.panel-body
  .row.chanel_url_panel
    = render partial: "sandbox/video_blenders/youtube_setup/channel_setup/channel_url_link"
  .row
    %table.chanel_details_table
      %tr= render partial: "sandbox/video_blenders/youtube_setup/channel_setup/channel_art"
      %tr= render partial: "sandbox/video_blenders/youtube_setup/channel_setup/channel_icon"
      %tr= render partial: "sandbox/video_blenders/youtube_setup/channel_setup/channel_name"
      %tr= render partial: "sandbox/video_blenders/youtube_setup/channel_setup/channel_description"
      %tr= render partial: "sandbox/video_blenders/youtube_setup/channel_setup/channel_tags"
