%td.image
  = link_to 'javascript://' do
    = image_tag "/sandbox/icons/icon4.png"
%td.time
  = link_to 'javascript://' do
    %span.num= 3
%td.regenerate_block
  .col-md-2
    = link_to regenerate_video_descriptions_sandbox_client_video_blenders_path(params[:client_uuid]), class: "btn btn-regenerate", data: {remote: true, "disable-with" => '<i class="fa fa-refresh fa-2x fa-spin-hover fa-spin"></i>'} do
      = fa_icon 'refresh 2x'
  .col-md-10
    .title-block
      %h3
        %b Video
        %span.font_red_no-weight description
      .sm_description
        Max Description length:
        %span.font_red 4950 characters
  .col-md-2
  .col-md-10.video_description
    %p.sm_content
      - labels = ['Landing page','Credits','Client long.d','Product with donor long d.','Inductry long d.', 'Location long d.','Subject long d.', 'Subject or donor video d.','Other long','Social','Tags']
      - labels.each_with_index do |v,i|
        %span.label.label-info= v.to_s
        = "+" unless i+1 == labels.size
    %p.sm_content.yt_video_description=@video_description
