- unless f.object.new_record?
  .form-group
    = f.label :id, t('id')
    = text_field_tag '', f.object.id, class: "form-control", disabled: "disabled"

.form-group
  .select2-tags-wrapper
    = f.label :sandbox_client_id, class: 'control-label'
  .input-group
    = f.select :sandbox_client_id, options_for_select(Sandbox::Client.order(:id).collect{|it| [it.client.name, it.id]}, f.object.sandbox_client_id), include_blank: true, class: 'form-control'

.form-group
  .select2-tags-wrapper
    = f.label :title_product_components, class: 'control-label'
    %span#sandbox_youtube_video_title_product_components_csv_count.badge 0
    = f.hidden_field :title_product_components_csv, data: {placeholder: 'product components'.titleize}

.form-group
  .select2-tags-wrapper
    = f.label :title_subject_components, class: 'control-label'
    %span#sandbox_youtube_video_title_subject_components_csv_count.badge 0
    = f.hidden_field :title_subject_components_csv, data: {placeholder: 'entity components'.titleize}

.form-group
  .select2-tags-wrapper
    = f.label :title_entity_components, class: 'control-label'
    %span#sandbox_youtube_video_title_entity_components_csv_count.badge 0
    = f.hidden_field :title_entity_components_csv, data: {placeholder: 'descriptor components'.titleize}

.form-group#youtube_setup_other_busines_video_tag_list_block
  = f.label :tags
  %span#sandbox_youtube_video_tag_list_count.badge 0
  = f.text_field :tags, class: 'form-control tags-field', placeholder: 'Enter tags'

.form-group
  .row{style: "margin:0px;"}
    = f.hidden_field :location_id, class: "form-control"
    = f.hidden_field :location_type, class: "form-control"
    .col-md-3{style: "padding:0px;"}
      = label_tag 'Country'
      - default_country = Geobase::Country.find_by_code("US")
      - unless default_country == nil
        = text_field_tag('country', default_country.id, class: "form-control", data: {name: default_country.name})
    .col-md-3
      = label_tag 'State'
      = text_field_tag('region1', '', class: "form-control")
    .col-md-3
      = label_tag 'County'
      = text_field_tag('region2', '', class: "form-control")
    .col-md-3
      = label_tag 'City'
      = text_field_tag('city', '', class: "form-control")
      - if @location_json
        = hidden_field_tag '', @location_json.to_json, id: 'location_json', class: "form-control"

.form-group
  .description_block
    .description_row
      = f.text_area :descriptions_sep, class: 'form-control description hidden', rows: '3', placeholder: 'Description'
    - unless f.object.descriptions.blank?
      - f.object.descriptions.each do |item|
        .description_row
          %label.control-label Description
          .counter-characters.pull-right
            Characters count:
            %span.badge.calc-one=item.length
            = link_to 'javascript://', class: "btn btn-xs btn-danger btn-flat delete-link", data: {confirm: true} do
              = "Remove"
              = fa_icon 'times'
          = text_area_tag 'descriptions', item, class: 'form-control sandbox_youtube_video', rows: 3
    - else
      .description_row
        %label.control-label Description
        .counter-characters.pull-right
          Characters count:
          %span.badge.calc-one 0
        = text_area_tag 'descriptions', '', id: "", name: "", placeholder: "Description", class: 'form-control sandbox_youtube_video', rows: 3

  = link_to 'javascript://', class: "btn btn-sm btn-primary description_add" do
    = "Add description"
    = fa_icon 'plus'
